p{
  font-size 14px;
  color: #606266;
}
h1{
  color:#303133;
  font-size:32px;
  margin-bottom: 24px;
}
h3{
  font-size:20px;
  color:#262626;
  margin-top: 40px;
}
p>strong{
  font-size:20px;
  color:#262626;
  margin-top: 40px;
}
.demo-block{
  margin-bottom: 48px!important;

}
